<div id="q-cont" *ngIf="question" >
  <div class="slide">
    <div class="question">
      {{question.phrase}}
    </div>
    <div class="input-div" [ngSwitch]="question.input_type">

        <div  class="options" *ngSwitchCase="'option'">

            <div
              class="op"
              *ngFor="let eachAns of question.options"
              (click)="optionClicked(eachAns.value)"
            >
              {{eachAns.value}}
            </div>

        </div>
        <div *ngSwitchCase="'text'" class="text-input">
          <input type="text" [(ngModel)]="textAnswer" (keydown.enter)="optionClicked(textAnswer)">
          <button ion-button color="success" (click)="optionClicked(textAnswer)">Submit</button>

        </div>

        <div *ngSwitchDefault class="text-input">
          <input type="text" [(ngModel)]="textAnswer" (keydown.enter)="optionClicked(textAnswer)">
          <button ion-button color="success" (click)="optionClicked(textAnswer)">Submit</button>

        </div>
    </div>

    <button ion-button color="light" (click)="optionClicked('skipped')">Skip</button>
  </div>
</div>
